In [34]:
import pandas as pd
import numpy as np

In [35]:
data = pd.read_csv("water.csv", sep="\t")

In [36]:
data.head()

  location        town  mortality  hardness
0    South        Bath       1247       105
1    North  Birkenhead       1668        17
2    South  Birmingham       1466         5
3    North   Blackburn       1800        14
4    North   Blackpool       1609        18

In [37]:
south_towns = data[data['location'] == 'South']
north_towns = data[data['location'] == 'North']

In [38]:
from statsmodels.stats import weightstats

In [42]:
mortality_mean = data.mortality.mean()
mortality_std  = data.mortality.std(ddof=1)

weightstats._zconfint_generic(mortality_mean, np.sqrt(mortality_std/data.shape[0]), 0.05, 'two-sided')

(1520.7097524498831, 1527.5853295173301)

In [17]:
mortality_south_mean = south_towns.mortality.mean()
mortality_south_std  = south_towns.mortality.std(ddof=1)

weightstats._zconfint_generic(mortality_south_mean, np.sqrt(mortality_south_std/south_towns.shape[0]), 0.05, 'two-sided')

(1365.2012473231632, 1388.4141372922215)

In [18]:
mortality_north_mean = north_towns.mortality.mean()
mortality_north_std  = north_towns.mortality.std(ddof=1)

weightstats._zconfint_generic(mortality_north_mean, np.sqrt(mortality_north_std/north_towns.shape[0]), 0.05, 'two-sided')

(1622.1322462380303, 1645.0677537619695)

In [19]:
hardness_north_mean = north_towns.hardness.mean()
hardness_north_std  = north_towns.hardness.std(ddof=1)

weightstats._zconfint_generic(hardness_north_mean, np.sqrt(hardness_north_std/north_towns.shape[0]), 0.05, 'two-sided')

(25.390145171168065, 35.40985482883193)

In [20]:
hardness_south_mean = south_towns.hardness.mean()
hardness_south_std  = south_towns.hardness.std(ddof=1)

weightstats._zconfint_generic(hardness_south_mean, np.sqrt(hardness_south_std/south_towns.shape[0]), 0.05, 'two-sided')

(63.54339957654679, 75.99506196191476)