In [101]:
import pandas as pd
import numpy as np

import sklearn

In [102]:
def prepare_csv(data):
    data.columns = ['id', 'user_id', 'venue_id', 'latitude', 'longitude', 'created_at']
    data[data['latitude'] == '                   '] = np.nan
    return data.dropna()

In [103]:
data = pd.read_csv('checkins.csv')
data = prepare_csv(data)

/Users/michil/.virtualenvs/cs102/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3071: DtypeWarning: Columns (0) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [104]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 396634 entries, 1 to 1021964
Data columns (total 6 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   id          396634 non-null  object
 1   user_id     396634 non-null  float64
 2   venue_id    396634 non-null  float64
 3   latitude    396634 non-null  object
 4   longitude   396634 non-null  object
 5   created_at  396634 non-null  object
dtypes: float64(2), object(4)
memory usage: 21.2+ MB

In [105]:
data = data[:100000]
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 100000 entries, 1 to 233798
Data columns (total 6 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   id          100000 non-null  object
 1   user_id     100000 non-null  float64
 2   venue_id    100000 non-null  float64
 3   latitude    100000 non-null  object
 4   longitude   100000 non-null  object
 5   created_at  100000 non-null  object
dtypes: float64(2), object(4)
memory usage: 5.3+ MB

In [109]:
X = data[['latitude', 'longitude']]

In [110]:
from sklearn.cluster import MeanShift

In [113]:
%time
cluster = MeanShift(bandwidth=0.1)
cluster.fit(X)

CPU times: user 3 µs, sys: 0 ns, total: 3 µs
Wall time: 5.96 µs

MeanShift(bandwidth=0.1)

In [114]:
offices = (
    (33.751277, -118.188740),

    (25.867736, -80.324116),

    (51.503016, -0.075479),

    (52.378894, 4.885084),

    (39.366487, 117.036146),

    (-33.868457, 151.205134),
)

In [ ]:
def min_distance(point):
    min_dist = 100000
    
    x, y = point[0], point[1]
    
    for office_point in offices:

In [ ]:
rast_id = [(rast(, )]